.change_password
  %img{src: "https://res.cloudinary.com/hpf4ju8n6/image/upload/v1533036589/image/iqkrvctvrmzmp0d3zqkx.png"}/
  %h2 Introduzca la nueva contraseña
  .form_field
    .form-group
      %label{for: "email_field"} Mail:
      %input#email_field.email_field.form-control{placeholder: "Introduzca mail", type: "text", name: "email"}/
    .form-group
      %label{for: "password_field"} Contaseña:
      %input#password_field.password_field.form-control{placeholder: "Introduzca nueva contaseña", type: "password", name: "password"}/

    %button.btn.btn-primary.change_password_from_email{type: 'submit', name: "commit", token: params[:recovery_token]} Cambiar contraseña
    .alert.nok.alert-danger.mt-2.hidden{role: "alert"} Error al cambiar!
    .alert.ok.alert-success.mt-2.hidden{role: "alert"} Cambiado con éxito